/*Add your CSS*/
body{
    margin: 0;
}
h1, h2{
    font-size: 3rem;
    text-align: center;

}
.food{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-2 {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.box-2 {
  background-color:orange;
  display: none;
}
hr.style-three {
    height: 30px;
    width: 80%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    }
    hr.style-three:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    }
    #map{
        height: 30vh;
        width: 80vw;
        margin: auto;
    }
    p{
        align-self: center;
    }
    .filter{
      display: flex;
      align-self: auto;

    }
    
    #img-restaurant{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    cursor: pointer;

    }
    #img-restaurant img{
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px;
    }
    #modal-restaurant-image img{
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px;
    }
    .modal-header, .modal-body, .modal-footer {
        background-color:orange;
        color: white;
      }
